@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: 16px '맑은 고딕';
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 20px;
    color: blue;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 0;
}

p {
    font-size: 16px;
}

header,
nav,
main,
article,
aside,
section,
footer {
    display: block;
}