@charset "utf-8";

.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: aquamarine; */
}

header .menu-icon div {
    width: 23px; height: 2px;
    margin: 5px 0;
    background: rgb(70, 70, 182);
}

.indigo-flex-box {
    display: flex;
}

.indigo-flex-box .menu-icon {
    position: relative;
    margin: 20px 0 20px 300px;
}

header nav {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: rgb(70, 70, 182);
} 

/* gnb */
.gnb {
    display: flex;
    flex-direction: column;
}

.gnb > li {
    width: 100%;
}

.gnb > li > a {
    color: #fff;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid rgb(60, 60, 151);
}

/*========== main ==========*/
/* article */
article img {
    width: 100%;
}

/* Section*/
section {
    padding: 40px 0;
    text-align: center;
}

/* intro */
/* des */
.des-flex-box {
    display: column;
}

.des h3 {
    display: none;
}

.promo {
    margin-bottom: 30px 1%;
}

.promo img {
    display: inline-block;
    height: 50px;
    margin: 20px;
}

/* work */
.work-flex-box {
   display: flex;
   flex-direction: column;
}

.work-text {
    position: relative;
}

.work .work-list .work-text a::before {
    display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	background:#3f51b5;  /* 파란배경 */
	content:"";
	opacity:0;
	transition:all 0.2s;
}

.work .work-list .work-text a:hover::before{
	opacity:0.85;
}

.work .work-list .work-text .info{
	position:absolute;
	top:0;
	left:23px;
    color: #fff;
    text-align: left;
	z-index:20;
	opacity:0;
	transition:all 0.3s;
}
	
.work .work-list .work-text a:hover .info{
	transform:translateY(23px);
	opacity:1;	
}

.line {
    text-align: center;
}

.line span {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: rgb(70, 70, 182);
    border: 1px solid #000;
    margin: 80px;
}

/* blog */
.blog-flex-box {
    display: flex;   
    flex-direction: column; 
}

.blog img {
    display: inline-block;
    margin-top: 35px;
}

.blog .blog-des {
    text-align: left;
    margin: 0 35px;
}

.blog .blog-des p { 
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 25px;
}


.blog-des span {
    font-size: 12px;
    color: lightgray;
}


/*========== footer ==========*/
.contact {
    margin-top: 50px;
}
.contact div input,
.contact div textarea {
    width: 100%;
    line-height: 50px;
    border: none;
    border-bottom: 2px solid lightgray;
}

.contact input::placeholder,
.contact div textarea::placeholder {
    color: rgb(110, 110, 212);
    font-size: 14px;
    font-family: '맑은 고딕';
}

.footer-button p {
    float: right;
    margin-right: 1px;
    margin-bottom: 90px;
}

.footer-button a {
    border: 1px solid rgb(70, 70, 182);
    background-color: rgb(70, 70, 182);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}

iframe {
    width: 100%;
}



/*==========++++ tablet ++++==========*/
@media screen and (min-width:768px) { 
    header .menu-icon div {
        display: none;
    }
    
    header nav {
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
        width: 55%;
        background-color: #fff;
    } 
    
    /* gnb */
    .gnb {
        flex-direction: row;
    }
    
    .gnb > li > a {
        color: rgb(70, 70, 182);
        padding: 0;
        border: none;
    }  

    /*========== main ==========*/
    /* intro */
    /* des */
    .des-flex-box {
        display: flex;
    }

    .promo {
        margin: 30px 0 30px;
    }

    /* work */
    .work-flex-box {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .work-flex-box > div {
        width: 50%;
    }

    .work-flex-box img {
        width: 100%;
    }

    /* blog */
    .blog-flex-box {
        display: flex;   
        flex-direction: row; 
    }

    .blog-flex-box img {
        width: 100%;
    }

    .blog .blog-des {
        text-align: left;
        margin: 0 10px;
    }

    .blog .blog-des p { 
        margin-left: 5px;
    }


    /*========== footer ==========*/
    .contact {
        display: flex;
    }

    .contact > div {
        width: 50%;
    }

    .footer-contact {
        line-height: 69px;
        margin-right: 30px;
    }
 }